{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surf Ledger</title>
    {% render_bundle 'main' 'css' 'DEFAULT' %}
</head>
<body>

    <div class="container">
        <div class="justify-content-center d-flex">
            <div class="">
                <h1>Finally...</h1>
                <input  id="autoComplete"> 
            </div>
        </div>
    </div>

    {% render_bundle 'main' 'js' 'DEFAULT' %}
    <script>

    </script>
</body>
</html>