{% extends 'ledger/base.html' %}


{% block content %}

    <div id="home-container"class="container-fluid">
        <div class="justify-content-center d-flex">
            <form id=autocomplete-wrapper method="get" action="/search">
                <input id="autocomplete" type="text"  autocomplete="off" placeholder="Find your surf break... ">
                <input id="id-field" name="spotid" type="hidden" >
            </form>
        </div>
    </div>

    <div class="container">
        <h1>Some other content</h1>
    </div>

{% endblock %}